.file-viewer {
	height: 100%;
}

.file-viewer__container {
	height: 100%;
}

.file-view__video {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--backdrop-background);
}

.file-view__video video {
	max-height: 100%;
	height: 100%;
	max-width: 100%;
	width: auto;
}

.file-viewer__container--image {
	background-image: var(--image);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--backdrop-background);
}

.file-viewer__info {
	position: absolute;
	top: 15px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.file-viewer__name {
	display: flex;
	align-items: center;
	background-color: var(--controls-button-bg);
	color: var(--controls-button-color);
	opacity: 0.8;
	border-radius: 4px;
	font-size: 0.8em;
	font-weight: 600;
	padding: 0 5px;
}

.file-viewer__info > * {
	margin: 0 15px;
}

.controls {
	color: var(--controls-text-color);
	height: var(--controls-height);
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.controls__body {
	width: 100%;
	margin: 0 var(--edge-padding);
	display: flex;
	background: #0a0a0a;
	opacity: 0.9;
	padding: 3px 5px;
	border-radius: 9px;
	align-items: center;
}

.controls__timeline {
	flex: 1 1 0;
	display: flex;
	align-items: center;
}

.controls__timeline-value {
	padding: 0 15px;
	font-size: 0.9em;
	font-weight: 600;
}

.controls__name {
	font-size: 0.8em;
}

.controls__button {
	background-color: var(--controls-button-bg);
	color: var(--controls-button-color);
	border-radius: 4px;
	height: 25px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	font-size: 0.8em;
}

.controls__button:hover {
	opacity: 0.9;
}

.controls__button svg {
	margin-right: 5px;
	width: 15px;
	height: auto;
}

.controls__button--only-icon svg {
	margin: 0 5px;
	width: 19px;
}

.controls__buttons-group {
	display: flex;
	gap: 10px;
}
