/* Background */
.loader__container {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: var(--loader-background);
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	--loader-width: 30px;
	--loader-height: 30px;
}

.loader {
	width: var(--loader-width);
	height: var(--loader-height);
}

.loader path {
	fill: var(--loader-color);
	transform-origin: center;
	animation: rotate 1.5s linear infinite;
}

.loader__reverse {
	animation-direction: reverse !important;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
	from {
		transform: rotate(0deg);
	}
}
