body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji";
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 0.95em;
	font-weight: 400;
	margin: auto;
	line-height: 1;
}

a {
	color: var(--text-color);
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: var(--text-color-dark);
}

.app-body {
	height: calc(100vh - var(--toolbar-height));
	overflow-y: auto;
}

.app-root {
	position: relative;
}

.lock-body-scroll .app-body {
	overflow: hidden;
}

:root {
	--background-color: #ececec;
	--text-color: #1e1e1e;
	--text-color-dark: #000000;
	--accent-color: #de800f;
	--accent-revert-color: #fff;

	--toolbar-background: #ff8d00;
	--toolbar-text-color: #3a1707;
	--toolbar-accent-color: #ffe7c9;
	--toolbar-text-color-light: #363636;
	--toolbar-height: 26px;

	--edge-padding: 10px;

	--backdrop-background: #000000;

	--badge-image-bg-color: #ff00cd;
	--badge-image-color: #000;
	--badge-video-bg-color: #1ec9c5;
	--badge-video-color: #011818;

	--controls-background: #000;
	--controls-text-color: #fff;
	--controls-height: 40px;

	--controls-button-bg: #1c1c1c;
	--controls-button-color: #fff;

	--range-bg-color-before: #dddddd;
	--range-bg-color-after: #383838;
	--range-thumb-color: #ffffff;
	--range-thumb-size: 14px;
	--range-track-size: 8px;

	--loader-background: #ffebd3;
	--loader-color: #de800f;
}

@keyframes fadeout {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.9);
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

::-webkit-scrollbar {
	width: 5px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--toolbar-background);
	-webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.default-button {
	font: inherit;
	background-color: transparent;
	color: var(--text-color);
	border: none;
	border-radius: 5px;
	padding: 0;
	cursor: pointer;
	transition: 0.3s;
	display: flex;
	align-items: center;
}

.default-button:hover {
	opacity: 0.9;
}

.default-button > svg {
	margin-right: 5px;
	width: 13px;
}
