body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji";
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 0.95em;
	font-weight: 400;
	margin: auto;
	line-height: 1;
}

a {
	color: var(--text-color);
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: var(--text-color-dark);
}

:root {
	--background-color: #ececec;
	--text-color: #1e1e1e;
	--text-color-dark: #000000;
	--accent-color: #4064ab;

	--toolbar-background: #cae9ff;
	--toolbar-text-color: #3a1707;
	--toolbar-text-color-light: #363636;
	--toolbar-height: 30px;

	--edge-padding: 10px;
}
