.preferences {
	padding: var(--edge-padding);
}

.preferences__title {
	font-weight: 600;
	font-size: 0.9em;
	margin: 10px 0;
}

.vendors {
	display: flex;
	gap: 15px;
}

.vendor {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 10px;
}

.vendor__name,
.vendor__board {
	display: flex;
	align-items: center;
}

.vendor__name {
	font-size: 0.8em;
	font-weight: bolder;
	padding-bottom: 10px;
	padding-top: 5px;
}

.vendor__board {
	color: var(--text-color);
	width: 100%;
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
}

.vendor__status {
	margin-right: 8px;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid var(--accent-color);
}
