.preferences {
	padding: var(--edge-padding);
}

.preferences__title {
	font-weight: 600;
	font-size: 0.9em;
	margin: 10px 0;
}

.checkboxes {
	display: flex;
	gap: 15px;
}

.checkbox {
	flex: 1 1 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 10px;
}

.checkbox__name {
	width: 100%;
}

.checkbox__name,
.checkbox__value {
	display: flex;
	align-items: center;
}

.checkbox__name {
	font-size: 0.8em;
	font-weight: bolder;
	padding-bottom: 10px;
	padding-top: 5px;
}

.checkbox__value {
	color: var(--accent-revert-color);
	padding: 2px 11px;
	cursor: pointer;
	border: none;
	transition: 0.2s;
	border-radius: 3px;
	background-color: var(--accent-color);
	position: relative;
}

.checkbox__value:hover {
	opacity: 0.9;
}

.checkbox__value--disabled {
	opacity: 0.7;
}

.vendor__status {
	margin-right: 4px;
	display: block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	border: 2px solid var(--accent-color);
}
